[package]
name = "datex_core"
version = "0.1.0"
authors = ["Benedikt Strehle <benedikt@unyt.org>"]
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["console_error_panic_hook"]

[dependencies]
regex = "1"
byteorder = "1"
num_enum = "0.5.7"
lazy_static = "1.4.0"
gen-iter = "0.2.1"
strum = { version = "0.24", features = ["derive"] }
mopa = "0.2.2"
num-bigint = "0.4"
num-integer = "0.1"

# The `console_error_panic_hook` crate provides better debugging of panics by
# logging them with `console.error`. This is great for development, but requires
# all the `std::fmt` and `std::panicking` infrastructure, so isn't great for
# code size when deploying.
console_error_panic_hook = { version = "0.1.6", optional = true }

# `wee_alloc` is a tiny allocator for wasm that is only ~1K in code size
# compared to the default allocator's ~10K. It is slower than the default
# allocator, however.
#
# Unfortunately, `wee_alloc` requires nightly Rust when targeting wasm for now.
wee_alloc = { version = "0.4.5", optional = true }


[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
