on:
    release:
        types: [published]
jobs:
    publish:
        runs-on: ubuntu-latest
        name: Publish
        steps:
            - uses: actions/checkout@v5

            - name: Install libudev-dev and pkg-config
              run: |
                  sudo apt update
                  sudo apt install -y libudev-dev pkg-config

            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: nightly
                  
            - name: Run cargo publish dry-run
              run: cargo publish --dry-run --allow-dirty
              env:
                CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
                
            - name: Publish to crates.io
              uses: katyo/publish-crates@v2
              with:
                  registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
